link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='fonts/PressStart2P-Regular.css')
link(rel='stylesheet', href='fonts/Play-Regular.css')
script(src="js/script.js")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title COMPUTER ENGINEER