link(rel='stylesheet', href='/static/css/style.css')
link(rel='stylesheet', href='/static/fonts/PressStart2P-Regular.css')
link(rel='stylesheet', href='/static/fonts/Play-Regular.css')
script(src='/static/js/script.js')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title COMPUTER ENGINEER