div#menu-opener ↓ MENU ↓
div#menu-wraper
  ui.menu
    li: a(href='/') Заметки
    li: a(href!='{% url 'projects' %}' ) Проекты
    li: a(href!='{% url 'about' %}' ) О сайте
    li: a(href!='{% url 'contacts' %}' ) Контакты