extends _base
block content
  div.posts
    each post in posts_list
      div.post
        div.post__header
          div.post__name 
            a(href!={{post.slug}} )= post.name
          div.post__menu
            div.post__tags
              each tag in post.tags
                span= tag.name
        div.post__content
          each text in post.pre_text
            p.post__p= text
        div.post__footer
          span.post__date=post.date