extends _base
block content
  div.post_one
    div.post__header
      h2=post.name
    div.post__content
      each line in post.text
        p= line
    div.post__footer
      div.post__date= post.date
      div.post__tags
        each tag in post.tags
          span= tag.name
