doctype html
html
  head
    include base/_head
  body
    div#l-main
      div#l-header
        include base/_header
      div#l-menu
        include base/_menu

      div#l-section
        
        block content

      div#l-footer
        include base/_footer