rupture.mobile-cutoff = 1050px // now  +mobile() == +tablet and +mobile

// CONSTANTS
DIST = 12px
BIG_DIST = 24px
LAYOUT_PADDING = 72px
MAIN_WIDTH = 915px

MENU_MARGIN = 40px
MENU_WIDTH = MAIN_WIDTH + 2 * MENU_MARGIN
MENU_HEIGHT = 60px


COLOR_WHITE = #f9f9f9 
COLOR_GREY  = #dedede 
COLOR_PINKE = #FF00CC
COLOR_DARK  = #333333 
COLOR_BLACK = #2d2d2d

*
  margin 0
  padding 0
  outline 0
  box-sizing border-box
  border none


body
  font-family Play-Regular
  font-size 16px
  line-height 1.5em
  background-color lighten(COLOR_DARK, 15%)
  color COLOR_WHITE

a 
  color COLOR_WHITE
  text-decoration none
  
h2
  font-family PressStart2P-Regular
  font-size 1.2em
  line-height 1.8em
  text-shadow 2px 2px 0px COLOR_PINKE
  
p 
  padding-top 0.5em


animation_decoration()
  text-decoration none;
  line-height 1
  display inline-block

  &:after
    content ''
    display block
    height 2px
    width 0px
    background-color COLOR_WHITE
    transition width 0.15s ease-in-out
  &:hover:after,
  &:focus:after
    width: 100%