@import 'jeet'

//edit()
box-shadow()
  box-shadow 0 14px 28px rgba(0,0,0,0.25), 
             0 10px 10px rgba(0,0,0,0.22);
  +mobile()
    box-shadow None  

#l-main
  display flex
  flex-direction column
  max-width MAIN_WIDTH
  margin 0 auto
  box-shadow()

  
#l-header
  display flex
  flex-direction column
  justify-content center
  align-items center
  min-height DIST*16
  background-color COLOR_DARK
  padding LAYOUT_PADDING
  +mobile()
    padding BIG_DIST
    min-height 0
    

#l-menu
  display flex
  justify-content center
  align-items center
  margin 0 -1*MENU_MARGIN
  position relative
  min-height MENU_HEIGHT
  padding 0 LAYOUT_PADDING + MENU_MARGIN
  background-color COLOR_DARK
  border 2px solid COLOR_PINKE
  box-shadow()
  &:after,
  &:before
    position absolute
    content ''
    background-color darken(COLOR_DARK, 30%)
    box-sizing border-box
    border 1.5px solid COLOR_PINKE
    width MENU_HEIGHT
    height MENU_HEIGHT
    bottom 0px
    z-index -1
    box-shadow()
  &:before
    left -2px
    transform-origin 0 100%       
    transform rotate(45deg)
  &:after
    right -2px
    transform-origin 100% 100%       
    transform rotate(-45deg)
  +mobile()
    margin 0
    padding BIG_DIST
    border 0 none
    min-height 0
    flex-direction column
    align-items flex-start
    &:after,
    &:before
        display None


#l-section
  display flex
  flex-direction column
  align-content stretch
  background-color COLOR_DARK
  padding LAYOUT_PADDING
  min-height 70vh
  +mobile()
    padding BIG_DIST


#l-footer
  display flex
  justify-content center
  align-items center
  height MENU_HEIGHT
  background-color COLOR_DARK

  

