// HEADER MODULS
.logo
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  width 100%
  font-size 2.7em
  line-height 1em

  font-family PressStart2P-Regular
  text-shadow 0px 0.12em 0 COLOR_PINKE
  +mobile()
    justify-content space-around
    font-size 5vw
    padding-top BIG_DIST
    +portrait()
      font-size 10vw
      span
        padding-bottom 0.5em
        &:last-child
          padding-bottom 0


// MENU MODULS
.menu
  width 100%
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  font-size 1.3em
  font-family PressStart2P-Regular
  overflow hidden
  li
    display block
      
  a
    animation_decoration()
    text-shadow 2px 2px 0px COLOR_PINKE

  a:hover
    text-shadow 0px 0px 0px COLOR_PINKE
    
  a:after
    margin 0 auto
  +mobile(orientation: landscape)
    font-size 2.7vw
  +mobile(orientation: portrait)
    font-size 2em
    border 2px solid COLOR_PINKE
    border-top 0px solid COLOR_PINKE
    width 100%
    display block
    padding DIST
    background: repeating-linear-gradient(
      -45deg,
      COLOR_DARK,
      COLOR_DARK 16px,
      COLOR_BLACK 16px,
      COLOR_BLACK 32px
      );

    li
      padding-bottom 1.5*DIST
      &:last-child
        padding-bottom 0
      &:first-child
        padding-top 0
        
#menu-wraper
  width 100%
  +mobile(orientation: portrait)
    max-height 0px
    transition max-height 0.3s ease-in-out
    overflow hidden

#menu-wraper.menu_active
  +mobile(orientation: portrait)
    max-height 300px
    transition max-height 0.3s ease-in-out
    
#menu-opener
  display None
  top 0 + 2*DIST
  left 0
  height 60px
  width 100%
  background-color COLOR_BLACK
  border 2px solid COLOR_PINKE
  
  font-family PressStart2P-Regular
  text-shadow 2px 2px 0 COLOR_PINKE
  font-size 2em
  padding DIST
  text-align center
  +mobile(orientation: portrait)
    display block


// SECTION MODULS
// POSTS
.posts
  width 100%
  
.post
  padding BIG_DIST 0
  &:last-child
    padding-bottom 0
  &:first-child
    padding-top 0

.post__header
  width 100%
  display inline-block
  position relative

.post__name
  display inline-block
  font-size 1.2em
  line-height 1.8em
  font-family PressStart2P-Regular
  text-shadow 2px 2px 0px COLOR_PINKE
  max-width 70%
  a
    &:hover
      text-shadow 0px 0px 0px COLOR_PINKE
  +mobile()
    max-width 100%
.post__menu
  display inline-block
  position absolute
  right 0px
  bottom 0px
  +mobile()
    float none
    display block
    position static


.post__tags
  display inline
  float right
  +mobile()
    float left
  padding 0 0 0 0
  span
    margin 0 0 0 DIST
    color darken(COLOR_WHITE,40%)
    +mobile()
      margin 0 DIST 0 0
      

.post__content
  padding DIST 0 0 0
  //text-align justify
  p
    &:first-child
      padding-top 0
  
.post__footer
  padding DIST 0 0 0
  
.post__date
  color darken(COLOR_WHITE,40%)
  display inline-block
  padding 0 0 0 0
  +mobile()
    display block

// CONTACT MODULS
.contacts
  padding-top DIST
  font-size 1.2em
  line-height 1.8em
  width 100%
  
.cont-name
  display inline-block
  width 15%
  text-align right
  // +mobile()
  //   width auto
  
// FOOTER MODULS
.footer_label
  font-size 1.5em
  color darken(COLOR_WHITE,70%)
  font-family PressStart2P-Regular
  
