extends _base 
block content
  div.post
    div.post__header
      h2='О сайте'
    div.post__content
      p.
        Привет. Я разработчик и это мой блог. Такой есть у многих программистов.
        На этом сайте я отрабатываю разные технологии и тут же делюсь своим опытом с вами.
      p.
        Здесь ты сможешь найти материалы на тему программирования, сетей, железа, дизайна, информационной безопасности и т.д.
      p.
        В ближайшее время я собираюсь заниматься изучением языка Go, сетей, и погрузиться во фреймворк Django со всеми его прикладными обвесами. 
      p.
        Надеюсь ты найдёшь здесь что-нибудь полезное для себя.
      p.
        Welcome to internet, follow me...