extends _base 
block content
  h2: Контакты
  div.contacts
    each val, key in { 'email':'4iGAN.yO@gmail.com', 'gitlab':'gitlab.com/u/4iGAN', 'skype':'chigan.yo'}
      div.contact
          span.cont-name=key
          span=' : '
          span.cont-cord=val
