extends _base 
block content
  -
    var titles = [
      "Python",
      "Паттерное проектирование: Singleton, Fabric, Proxy",
      "GoLang: Начало",
      "USB токены",
      "Адаптивная вёрстка с FlexBoxes"
    ];
  

  div.posts
    each item in titles
      div.post
        div.post__header
          div.post__name: a(href='#')= item
          div.post__menu
            div.post__tags
              span tag1
              span tag2
              span tag3
        div.post__content
          p.post__p.
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
        div.post__footer
          span.post__date 9.11.2000
        


      