extends _base 
block content
  div.post_one
    div.post__header
      h2 Паттерное проектирование: Singleton, Fabric, Proxy
    div.post__content
      p
        | Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Таким образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия.
      p
        | С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации.
      p
        | Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
      p
        | Разнообразный и богатый опыт начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки форм развития.
    div.post__footer
      span.post__date 9.11.2016
      div.post__tags
        span tag1
        span tag2
        span tag3

