extends _base 
block content
  div.post
    div.post__header
      h2='Проекты'
    div.post__content
      p.
        По сути пока этот сайт и есть мой проект.
      p.
        Остальное добавлю сюда, когда дойдут руки.